<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>File download QR code</h2>
                <input type="hidden" name="link" id="link" value={{downloadUrl}}>                
                <div id="qrcode" class="text-center"></div>
            </div>
        </div>
    </div>
    <script src="qrcode.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
